<!DOCTYPE html>
<html>
   
<head>
   
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ToDo List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/main/css/to_do.css'>
    <link href='https://fonts.googleapis.com/css?family=Schoolbell&v1' rel='stylesheet'>
</head>

<body>
    <div id='container'>
        <div id='toDoForm'>
            <input id='input' placeholder='Write your task here. . .' type='text' maxlength="30" />
            <button id='addToDo'><strong>Add</strong></button>
        </div>
        
        <div id='toDoContainer'></div>
    </div>
    </div>
    <script src='../../static/to_do.js' type='module'></script>
</body>

</html>